@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif JP", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Noto Serif JP", Helvetica, Arial, sans-serif;
  cursor: pointer;
  border: none;
}

*::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #151515;
  outline: 1px solid slategrey;
}
